
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Soccer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body>



@main("Soccer"){ 



    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">ITT DUBLIN SOCCER CLUB</p>
                <div class="list-group">
                    <a href="@routes.HomeController.soccer" class="list-group-item">Soccer</a>
                    <a href="@routes.HomeController.basket" class="list-group-item">Basket</a>
                    <a href="@routes.HomeController.join" class="list-group-item">Join a Club</a>
                </div>
            </div>



            <div class="col-md-9">
                <div class="thumbnail">
                    <img class="img-responsive" src="soccer.jpg" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right"></h4>
                        <h4><a href="#">ITT DUBLIN FIRST TEAM </a>
                        </h4>
                        </strong>IT Tallaght first team 2016/2017</p>
                        <p>IT Tallaght first team are in the premier devision in the CUFL league, CUFL leage is a group tournament with all the college in Ireland taking part in in this compitition based on the level of each college squad..
                        </p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="soccer2.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">Pat</a>
                                </h4>
                                <p>The first team coach & the former Shamrock Rovers Manager.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="soccer1.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">ITT Vs LIT</a>
                                </h4>
                                <p>The first in action against Letterkenny IT, ola going up for the header ahead of Danny.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="touhy.jpg" alt="">
                            <div class="caption">
                                <h4 class="pull-right"></h4>
                                <h4><a href="#">ITT Vs NUI Maynooth</a>
                                </h4>
                                <p>IT Tallaght Ian Touhy in action against NUI Maynooth, NUI Maynooth won the match 3-2, .
                                </p>
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <h4>Follow us on Facebook</h4>
                        <p>If you like to see more picture, you can check out our facebook page <a target="_blank" href="https://www.facebook.com/groups/1763470457241816/">Facebook</a> you can see more picture and latest update availabe on our facebook page</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ITT Student Union</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
}

</html>
